* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}



header {
    background-color: #AFBD5E;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


.menu ol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #000;
    border: solid #5D6532 3px;
    padding: 8px;
    font-size: 20px;
}

.menu a:hover {
    color: white;
    background-color: #5D6532;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img {
    display: block;
    width: 90px;
    height: 90px;
}

#vest-escrita{
    margin-left: -35px;
    width: 120px;
    height: 90px;
}

.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
}

form button {
    display: block;
    background-color: #D4E673;
    height: 50px;
    width: 50px;
    margin-left: -50px;
    border: none;
    border-right: solid black 2px;
}

button img {
    height: 30px;
    width: 30px;
}

form input {
    background-color: #D4E673;
    color: black;
    height: 50px;
    width: 650px;
    border: solid black 2px;
    padding-left: 10px;
    font-size: 16px;
}

form input::placeholder {
    color: black;
    font-size: 16px;
    font-style: italic;
    opacity: 0.8;
    padding-left: 5px;
}

form button:hover{
    background-color: #effd9b;
}
